* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
}

.quizBody {
    display: block;
    background-color: antiquewhite;
    width: 650px;
    height: 450px;
    align-self: center;
    margin: auto;
    border-radius: 30px;
}

.quizBody__answerOption, .question {
    width: 600px;
    display: block;
    background-color: white;
    border-radius: 20px;
    margin: 20px auto 0 auto;
}

.question {
    display: flex;
    height: 75px;
}

.question__text {
    display: inline-block;
    text-align: center;
    margin: auto;
    font-size: 24px;
}

.question__counter {
    display: inline-block;
    width: 40px;
    margin: auto 0 auto 25px;
    padding-right: 20px;
    line-height: 75px;
    border-right: 2px solid antiquewhite;
    font-size: 25px;
    font-style: italic;
}

.quizBody__answerOption {
    display: flex;
    height: 50px;
}

.quizBody__answerOption:hover, .quizBody__answerOption-selector:hover{
    cursor: pointer;
}

.quizBody__nextButton, .quizBody__nextButton-disabled {
    cursor: pointer;
    background-color: white;
    border: none;
    display: block;
    height: 40px;
    width: 50%;
    margin: 15px auto auto auto;
    border-radius: 10px;
    font-size: 18px;
}

.quizBody__nextButton-disabled {
    cursor: default;
    background-color: lightgray;
}

.quizBody__nextButton:hover {
    background-color: cadetblue;
    transition: background-color 0.5s;
}

.quizBody__nextButton:not(hover) {
    transition: 0.5s;
}

.quizBody__nextButton:hover:active {
    scale: 0.95;
}

.quizBody__answerOption-selector {
    margin: auto 20px auto 20px;
    height: 20px;
    width: 20px;
}

.quizBody__answerOption-text {
    margin: auto;
    margin-left: 25px;
}

.resultPage {
    display: block;
    background-color: antiquewhite;
    width: 620px;
    height: 420px;
    border-radius: 30px;
    margin: 2.25% auto 2.25% auto;
}

.resultText {
    display: block;
    width: fit-content;
    margin: auto;
    padding-top: 20%;
    position: relative;
    text-align: center;
    font-size: 45px;
}

.question__text, .quizBody__answerOption-text {
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}